name: sign some binaries
on: 
  push:


jobs:
  build_with_signing:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: sign binaries
        uses: flucoma/actions/distribution
        with:
          binaries: 'mxo'
          CERT: ${{ secrets.CERT }}
          CERTPWD: ${{ secrets.CERTPWD }}
          TEAMID: ${{ secrets.WWDRTEAMID }}
          APPPWD: ${{ secrets.APPSTORECONNECTPWD }}
          APPUSR: ${{ secrets.APPSTORECONNECTUSERNAME }}
          


          
