name: sign some binaries
on: push

jobs:
  build_with_signing:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
      - name: setup apple certificates and profiles
        env:
          CERT: ${{ secrets.CERT }}
          CERTPWD: ${{ secrets.CERTPWD }}
        run: |
          # create variables
          CERTPATH=$RUNNER_TEMP/flucoma.p12
          KEYCHAINPWD=foobarbazbob
          KEYCHAINPATH=

          # import certificate and provisioning profile from secrets
          echo -n $CERTPATH | base64 --decode --output $CERTPATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAINPWD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import p12 to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security set-key-partition-list -S apple-tool:,apple:, -s -k "$KEYCHAIN_PASSWORD" -D "${BUILD_CERTIFICATE_BASE64}" -t private $KEYCHAIN_PATH
          
          security list-keychain -d user -s $KEYCHAIN_PATH

          # apply provisioning profile
          # mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          # cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles

          security find-identity -p codesigning

          
