name: sign some binaries
on: 
  workflow_dispatch:
  push:


jobs:
  build_with_signing:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3

      - name: sign binaries
        uses: flucoma/actions/distribution@main
        with:
          binary: '-e mxo'
          cert: ${{ secrets.CERT }}
          certpwd: ${{ secrets.CERTPWD }}
          teamid: ${{ secrets.WWDRTEAMID }}
          apppwd: ${{ secrets.APPSTORECONNECTPWD }}
          appusr: ${{ secrets.APPSTORECONNECTUSERNAME }}
          


          
