name: sign some binaries
on: push

jobs:
  build_with_signing:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
      - name: setup apple certificates and profiles
        env:
          CERT: ${{ secrets.CERT }}
          CERTPWD: ${{ secrets.CERTPWD }}
        run: |
          # create variables
          CERTPATH=$RUNNER_TEMP/flucoma.p12
          KEYCHAINPWD=foobarbazbob
          KEYCHAINPATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificate and provisioning profile from secrets
          echo -n $CERTPATH | base64 --decode --output $CERTPATH

          # create temporary keychain
          security create-keychain -p $KEYCHAINPWD $KEYCHAINPATH
          security set-keychain-settings -lut 21600 $KEYCHAINPATH
          security unlock-keychain -p $KEYCHAINPWD $KEYCHAINPATH

          # import p12 to keychain
          security import $CERT -P $CERTPWD -A -t cert -f pkcs12 -k $KEYCHAINPATH
          security set-key-partition-list -S apple-tool:,apple:, -s -k $KEYCHAINPATH -D "${CERT}" -t private $KEYCHAINPATH
          
          security list-keychain -d user -s $KEYCHAINPATH

          # apply provisioning profile
          # mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          # cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles

          security find-identity -p codesigning

          
