name: sign some binaries
on: 
    workflow_dispatch:
    push:


jobs:
  build_with_signing:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v3
      - name: setup apple certificates and profiles
        env:
          CERT: ${{ secrets.CERT }}
          CERTPWD: ${{ secrets.CERTPWD }}
          TEAMID: ${{ secrets.WWDRTEAMID }}
          APPPWD: ${{ secrets.APPSTORECONNECTPWD }}
          APPUSR: ${{ secrets.APPSTORECONNECTUSERNAME }}
        run: |
          # create variables
          CERTPATH=$RUNNER_TEMP/flucoma.p12
          KEYCHAINPWD=foobarbazbob
          KEYCHAINPATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificate and provisioning profile from secrets
          echo -n "$CERT" | base64 --decode --output "$CERTPATH"

          # create temporary keychain
          security create-keychain -p "$KEYCHAINPWD" "$KEYCHAINPATH"

          # append temp keychain to the user domain
          security list-keychain -d user -s "$KEYCHAINPATH"

          security set-keychain-settings "$KEYCHAINPATH"
          security unlock-keychain -p "$KEYCHAINPWD" "$KEYCHAINPATH"

          # import p12 to keychain
          security import "$CERTPATH" -P $CERTPWD -A -t cert -f pkcs12 -k $KEYCHAINPATH -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:, -s -k $KEYCHAINPATH -D "${CERT}" -t private $KEYCHAINPATH
          
          # codesign -s "Developer ID Application" ./binary/fluid.libmanipulation.mxo
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3

          
